<br>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2>Order Summary</h2>
    </div>
    <div class="panel-body">
      <p>
        <strong>Delivery date:</strong>
        <%= @order.delivery_date %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @order.user.fullname %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @order.address.company_name %>
      </p>

      <p>
        <strong>Amount of Beers:</strong>
        <strong><%= @order.quantity %></strong>
      </p>

      <p>
        <h3>Total Payable: <%= number_to_currency(@order.total, unit: "£") %></h3><p> inclusive of VAT</p>
      </p>

      <%= form_tag payment_path, method: :post do %>
        <%= hidden_field_tag 'order_id', @order.id %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Your Beer Order"
                  data-currency="gbp"
                  data-amount="<%= (@order.total * 100).to_i %>"
                  data-locale="auto"></script>
      <% end %>
    </div>

    <div class="panel-footer">
      <%= link_to 'Edit', edit_order_path(@order) %> |
      <%= link_to 'Back', orders_path %>
    </div>
  </div>
</div>
