<div class="container">
<!-- dynamic pills -->
  <div class="row center">
    <div class="col-md-2"></div>  
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a data-toggle="pill" href="#overview">Overview</a></li>
        <li role="presentation"><a data-toggle="pill" href="#order-history">Order History</a></li>
        <li role="presentation"><a data-toggle="pill" href="#address-book">Address Book</a></li>
        <li role="presentation"><%= link_to "Edit Profile", edit_user_registration_path %></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
          <h3>Welcome back <%= current_user.fullname %></h3>
          <p>THIS IS THE OVER VIEW OF YOUR ACCOUNT!!!! HDFJDKHFKDJHFKJDHKFHKDHJKDHFKJHDKJFHKJDHFKJDHFJDFLKDJFLKDJLFJL</p>
          <%= current_user.fullname %>

        </div>
        <div id="order-history" class="tab-pane fade">
          <h3>Order History</h3>
          <!-- <p>THIS DISPLAYS ALL YOUR ORDER HISTORY!!!!!</p> -->
          <% current_user.orders.each do |order| %>
            <%= current_user.fullname %>
            <%= order.delivery_date %>
            <%= order.address.company_name %>
            <%#= order.quantity %>
          <% end %>
          <br>
          <p><%= link_to "Order More Beers", new_order_path, class: "btn btn-default btn-md" %></p>
        </div>
        <div id="address-book" class="tab-pane fade">
          <h3>My Address Book</h3>
          <% current_user.addresses.each do |address| %>
          <div class="panel-default address-default">  
            <div class="panel-heading address-title">
              <%= address.company_name %>
            </div>
            <div class="panel-body address-body">
              <%= address.address_line_1 %>,
              <%= address.address_line_2 %>,
              <%= address.city %>,
              <%= address.post_code %>
            </div>

            <div class="panel-footer address">
            <div></div>
            </div>
          </div>
          <br>
          <% end %>
          <p><%= link_to "Add New Address", new_address_path, class: "btn btn-default btn-md" %></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

