<div class="container">
  <h1 class="about-header">HOW IT WORKS</h1>
  <div class="row" id="signup-icon">
    <div class="col-md-offset-2 col-lg-offset-3 col-md-8 col-lg-6">
      <div class="row">
        <div class="col-md-6 about">
          <h3>Sign Up To DeskBrews</h3>
        </div>
        <div class="col-md-6 img-icon">
          <%= image_tag "adaptive_design.png" %>
        </div>
      </div>
      <div class="row" id="date-icon">
        <div class="col-md-6 about">
          <h3>Choose Your Delivery Date</h3>
        </div>
        <div class="col-md-6 img-icon">
          <%= image_tag "calendar.png" %>        
        </div>
      </div>
      <div class="row" id="card-icon">
        <div class="col-md-6 about">
          <h3>Easy Credit Card Payment</h3>
        </div>
        <div class="col-md-6 img-icon">
          <%= image_tag "credit_card.png" %>
        </div>
      </div>
      <div class="row" id="transport-icon">
        <div class="col-md-6 about">
          <h3>Your Beers Will Be Delivered To You</h3>
        </div>
        <div class="col-md-6 img-icon">
          <%= image_tag "transport.png" %>
        </div>
      </div>
      <div class="row" id="beer-icon">
        <div class="col-md-6 about">
          <h3>Then Simply Enjoy!</h3>
        </div>
        <div class="col-md-6 img-icon">
          <%= image_tag "beer_icon.png" %>
        </div>
      </div>
    </div>
  </div>
</div>